/* #don{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
} */
*{
    margin: 0px;
    padding: 0px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

#logo1{
    height: 36px;
}

#click {
    display: flex;
    /* justify-content: space-evenly; */
    text-decoration: none;
    /* padding: 0px 17px 28px; */
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 700;
    text-transform: uppercase;
    /* align-items: center; */
}

header nav a{
    color: #282C3F;
    /* align-items: center; */
    text-align: center;
    align-items: center;
    padding: 28px 0px;
    border-bottom: 5px solid #ffffff;
}
header nav a:hover{
    border-bottom: 5px solid #f54e77;
}

#topo{
    margin-left: 4%;
}

/* #don{
    height: 80px;
    display: flex;
} */

#ddd{
    height: 39.6px;
    margin-right: 7.3775%;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    display: inline-block;
    color: #696e79;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
    flex-grow: 1;
}

#sear{
    display: flex;
    height: 40px;
    min-width: 400px;
}

.material-symbols-outlined{
    box-sizing: content-box;
    text-decoration: none;
    display: inline-block;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    text-decoration: none;
}


#red{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FF3F6C;
    font-size: 10px;
    padding: 0px 0px 34px -15px;
    height: 13.6px;
    width: 20.16;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
}

#one{
    width: 62.4px;
}
#two{
    width: 83.84px;
}
#three{
    width: 64.44px;
}
#four{
    width: 131.16px;
}
#five{
    width: 83.68px;
}
#six{
    width: 82.78px;
}

header{
    display: flex;
    /* justify-content: center; */
    align-items:center;
    height: 80px;
    justify-content:space-between;
    border-bottom: 3px solid #f6f6f6;
}

.act_bar{
    display: flex;
    margin-right: 30px;
    text-decoration: none;
}

@media (max-width: 1400px) {
    .act_bar{
        margin-right: 0;
        width: 170px;
        text-decoration: none;
    }
}

#cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 10px;
    text-decoration: none;
    color: #373c4c;
}

#texty{
    /* margin-top: 5px; */
    text-decoration: none;
    color: #373c4c;
}

.main_b_c{
    padding: 40px 0px;
}

.main_b{
    width: 100%;
}

.firhead{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.deals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5px
}

.imgs{
    width: 250px;
}